---
# Only the main Sass file needs front matter (the dashes are enough)
---

body{
  font-family: "Helvetica", sans-serif;
  background-color: #fefefe;
  color: #444;
}

a{
  text-decoration: none;
  color:#1e4ce9;

}


/*header{
  background-color: red;
}

main{
  background-color: pink;
}

footer{
  background-color: green;
}*/

body>header{
  padding: 20px 0;
}

.wrapper{
  margin: auto;
  padding: 0 40px;
}

.site-title{
  float: left;
  margin: 0;
}


.site-title a{
  text-decoration: none;
  color: #444;
}

.site-nav{
  float: right;
}

.posts{
 list-style: none;
 padding: 0;
}

.posts li{
  border-bottom: 1px solid #efefef;
}

.posts li:last-child{
  border-bottom: 0;
}

.posts li a{
  text-decoration: none;
  color: #666;
}

.date{
  font-size: 60%;
  color: #888;
}

.site-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav ul li{
  display: inline-block;
}

.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.site-footer{
  color: #888;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.clear{
  clear: both;
}
