<footer class="site-footer">

  <div class="wrapper">
    <a href="mailto:{{ site.title }}">
      {{ site.email }}
    </a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>

  </div>

</footer>
